{
    "extends": [
        "react-app",
        "plugin:jsx-a11y/recommended"
    ],
    "plugins": [
        "jsx-a11y"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "eqeqeq":0,
        "semi": "error",
        "indent": [0,4],
        "brace-style": 1,
        "camelcase": 1,
        "no-undef": 2,
        "no-undef-init": 2,
        "no-undefined": 2,
        "no-unused-vars": 2,
        "no-use-before-define": 2,
        "newline-after-var": 2,
        "sort-imports": 2,
        "eol-last": 2,
        "accessor-pairs": 0,
        "array-bracket-spacing": [2, "never"],
        "jsx-quotes": [2, "prefer-single"],
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
        "keyword-spacing": 2,
        "no-console": 2,
        "no-dupe-keys": 2,
        "no-dupe-args": 2,
        "comma-dangle": [2, "never"],
        "comma-spacing": 2,
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
        "space-in-parens": [2, "never"]
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
        "globalReturn": true,
        "jsx": true
    }
}