language: node_js
node_js:
  - stable
cache:
  directories:
  - node_modules
script:
  - npm run test:ci
  - npm run build
deploy:
  provider: heroku
api_key:
    secure: $API_KEY
app: calender-demo
on:
    repo: sivasankar9/full-view-calender
    branch: pre-prod
